<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"></head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</head>
<body>
{% if user.is_authenticated and user.is_student %}
    <a class="btn btn-secondary" href="{% url 'faculty:class_list' %}"><h1>Class List</h1></a>
    <a class="btn btn-secondary" href="{% url 'faculty:select_lesson' %}"><h1>Select Lesson</h1></a>
    <a class="btn btn-secondary" href="{% url 'library:rent_book' %}"><h1>Rent Book</h1></a>
    <a class="btn btn-secondary" href="{% url 'library:show_rent_books' %}"><h1>Show Rent Books</h1></a>
    <a class="btn btn-secondary" href="{% url 'faculty:logout' %}"><h1>Logout</h1></a>
    {% elif user.is_authenticated and user.is_teacher%}
    <a class="btn btn-secondary" href="{% url 'faculty:class_list' %}"><h1>Class List</h1></a>
    <a class="btn btn-secondary" href="{% url 'faculty:students_ist' %}"><h1>Students</h1></a>
    <a class="btn btn-secondary" href="{% url 'faculty:logout' %}"><h1>Logout</h1></a>
    {% else %}
    <a class="btn btn-secondary" href="{% url 'faculty:login' %}"><h1>Login</h1></a>
    <a class="btn btn-secondary" href="{% url 'faculty:create_student' %}"><h1>Register as student</h1></a>
    <a class="btn btn-secondary" href="{% url 'faculty:register_master' %}"><h1>Register as teacher</h1></a>
{% endif %}
</body>
</html>